/* to style the home page */
.header1{
    width: 70%;
    height: 3vh;
    list-style-type: none; /*Remove bullet points */
    padding:0;
    margin: 0;
    display: flex;   /* Display list items horizontally */
    justify-content: space-around; /* Evenly space items horizontally */
    }
    
    .container1{
        padding: 10 px 10%;
    }
    
    .boxes1{
        display:flex;
        justify-content:center;
        align-items: center;
        min-height: 400px;
        background-color:rgb(12, 12, 12);
    
    }
    
    .boxes1 div{
        height: 1000px;
        width: 500px;
        background:rgb(243, 123, 243);
        margin: 60px;
    }